[Unit]
Description=K0s Frictionless Kubernetes
Documentation=https://k0sproject.io
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/sbin/k0s server -c /root/.k0s/k0s.yaml
Type=notify
Delegate=yes
KillMode=process
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
