/airgap-images.txt
/airgap-image-bundle-linux-amd64.tar
/airgap-image-bundle-linux-arm64.tar
/airgap-image-bundle-linux-arm.tar
/airgap-image-bundle-linux-riscv64.tar
/ipv6-test-images.txt
/ipv6-test-image-bundle-linux-amd64.tar
/ipv6-test-image-bundle-linux-arm64.tar
/ipv6-test-image-bundle-linux-arm.tar
/ipv6-test-image-bundle-linux-riscv64.tar
/bindata_*
/build/cache/*
/embedded-binaries-linux.zip
/embedded-binaries-windows.zip
/k0s
/k0s.bare
/k0s.exe
/k0s.bare.exe
/pkg/assets/zz_generated_offsets*.go
/spdx.json
.*.stamp
*.tmp
*.tmp.*
.terraform
.idea
*.tfstate*
aws_private.pem
.vscode
.k0sbuild.docker-image.*
docs/cli
site
k0sctl.yaml
