/airgap-image-bundle-linux-amd64.tar
/airgap-image-bundle-linux-arm.tar
/airgap-image-bundle-linux-arm64.tar
/airgap-image-bundle-linux-riscv64.tar
/airgap-image-bundle-windows2022-amd64.tar
/airgap-images-linux-amd64.txt
/airgap-images-linux-arm.txt
/airgap-images-linux-arm64.txt
/airgap-images-linux-riscv64.txt
/airgap-images-windows2022-amd64.txt
/build/cache/*
/embedded-binaries-linux.zip
/embedded-binaries-windows.zip
/ipv6-test-image-bundle-linux-amd64.tar
/ipv6-test-image-bundle-linux-arm64.tar
/ipv6-test-images-linux-amd64.txt
/ipv6-test-images-linux-arm64.txt
/k0s
/k0s.bare
/k0s.exe
/k0s.bare.exe
/spdx.json
.*.stamp
*.tmp
*.tmp.*
.terraform
.idea
*.tfstate*
aws_private.pem
.vscode
.k0sbuild.docker-image.*
docs/cli
docs/schemas
site
k0sctl.yaml
