babel==2.16.0
bracex==2.5.post1
certifi==2024.8.30
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.6
ghp-import==2.1.0
idna==3.10
importlib-metadata==8.5.0
importlib-resources==6.4.5
Jinja2==3.1.4
Markdown==3.7
MarkupSafe==3.0.2
mdx-truly-sane-lists==1.3
mergedeep==1.3.4
mike==2.1.3
mkdocs==1.6.1
mkdocs-exclude==1.0.2
mkdocs-get-deps==0.2.0
mkdocs-include-markdown-plugin==7.0.0
mkdocs-macros-plugin==1.3.7
mkdocs-material==9.5.43
mkdocs-material-extensions==1.3.1
packaging==24.1
paginate==0.5.7
pathspec==0.12.1
platformdirs==4.3.6
Pygments==2.18.0
pymdown-extensions==10.12
pyparsing==3.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
pyyaml_env_tag==0.1
regex==2024.9.11
requests==2.32.3
six==1.16.0
termcolor==2.5.0
urllib3==1.26.20
verspec==0.1.0
watchdog==6.0.0
wcmatch==10.0
zipp==3.20.2
