certifi==2023.7.22
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.6
ghp-import==2.1.0
idna==3.4
Jinja2==3.1.2
Markdown==3.5
MarkupSafe==2.1.3
mdx-truly-sane-lists==1.3
mergedeep==1.3.4
mike==1.1.2
mkdocs==1.5.3
mkdocs-exclude==1.0.2
mkdocs-macros-plugin==1.0.4
mkdocs-material==9.4.5
mkdocs-material-extensions==1.2
packaging==23.2
Pygments==2.16.1
pymdown-extensions==10.3
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
pyyaml_env_tag==0.1
regex==2023.10.3
requests==2.31.0
six==1.16.0
termcolor==2.3.0
urllib3==1.26.18
verspec==0.1.0
watchdog==3.0.0
