{% extends "base.html" %}

{% block analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JMV1409T2T"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JMV1409T2T');
  </script>
{% endblock %}

{% block outdated %}
  You are not currently viewing the documentation for the current stable release of k0s.
  <a href="{{ '../' ~ base_url }}">
    <strong>Click here to go to the documentation of the current stable release.</strong>
  </a>
{% endblock %}