name: Check for merge conflicts

on:
  push:
    branches:
      - main
      - release-*
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
      - release-*

permissions:
  contents: read
  pull-requests: write

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Check for merge conflicts
        uses: eps1lon/actions-label-merge-conflict@v3.0.2
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          dirtyLabel: merge-conflict
          commentOnDirty: This pull request has merge conflicts that need to be resolved.
