name: Lint docs

on:
  push:
    branches:
      - main
      - release-*
    paths:
      - '**.md'
      - .github/workflows/docs.yml
      - .markdownlint.jsonc
  pull_request:
    branches:
      - main
      - release-*
    paths:
      - '**.md'
      - .github/workflows/docs.yml
      - .markdownlint.jsonc
jobs:
  lint:
    name: Lint markdown
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: DavidAnson/markdownlint-cli2-action@v22.0.0
        with:
          config: .markdownlint.jsonc
          globs: '**/*.md'
