name: Go build

on:
  push:
    branches:
      - main
      - release-*
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - '**.md'
      - LICENSE
      - '**.svg'
      - '.github/workflows/docs.yml'
      - '.github/workflows/mkdocs-set-default-version.yml'
      - 'mkdocs.yml'
  pull_request:
    branches:
      - main
      - release-*
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - '**.md'
      - LICENSE
      - '**.svg'
      - '.github/workflows/docs.yml'
      - '.github/workflows/mkdocs-set-default-version.yml'
      - 'mkdocs.yml'
env:
  GO_VERSION: ^1.16
  GO_VERSION_WIN: ^1.13

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Get PR Reference and Set Cache Name
        run: |
          PR_NUMBER=$(echo ${GITHUB_REF} | cut -d / -f 3 )
          echo "cachePrefix=k0s-${PR_NUMBER}-${{ github.sha }}" >> $GITHUB_ENV

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - uses: actions/cache@v2
        name: Go modules cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Bindata cache
        uses: actions/cache@v2
        id: generated-bindata
        with:
          path: |
            .bins.linux.stamp
            embedded-bins/staging/linux/bin/
            bindata_linux
            pkg/assets/zz_generated_offsets_linux.go
            embedded-bins/Makefile.variables

          key: ${{ runner.os }}-embedded-bins-${{ hashFiles('**/embedded-bins/**/*') }}
          restore-keys: |
            ${{ runner.os }}-embedded-bins-${{ hashFiles('**/embedded-bins/**/*') }}

      - name: Build
        run: make build

      - name: Run unit tests
        run: make check-unit
      
      - name: Validate OCI images manifests
        run: go run hack/validate-images/main.go -architectures amd64,arm64
      
      - name: Cache compiled binary for further testing
        uses: actions/cache@v2
        id: cache-compiled-binary
        with:
          path: |
            k0s
          key: build-${{env.cachePrefix}}

  build_windows:
    name: Build windows
    runs-on: ubuntu-latest
    steps:
      - name: Get PR Reference and Set Cache Name
        run: |
          PR_NUMBER=$(echo ${GITHUB_REF} | cut -d / -f 3 )
          echo "cachePrefix=k0s-win-${PR_NUMBER}-${{ github.sha }}" >> $GITHUB_ENV

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION_WIN }}
        id: go

      - uses: actions/cache@v2
        name: Go modules cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-win-

      - name: Bindata cache
        uses: actions/cache@v2
        id: generated-bindata
        with:
          path: |
            .bins.windows.stamp
            embedded-bins/staging/windows/bin/
            bindata_windows
            pkg/assets/zz_generated_offsets_windows.go
            embedded-bins/Makefile.variables

          key: ${{ runner.os }}-embedded-bins-win-${{ hashFiles('**/embedded-bins/**/*') }}
          restore-keys: |
            ${{ runner.os }}-embedded-bins-win-${{ hashFiles('**/embedded-bins/**/*') }}

      - name: Build
        run: make k0s.exe

  smoketest:
    name: Smoke test
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        smoke-suite:
          - check-basic
          - check-addons
          - check-byocri
          - check-calico
          - check-cnichange
          - check-ctr
          - check-customports
          - check-dualstack
          - check-hacontrolplane
          # exists in inttest/Makefile.variables but there's no matching suite:
          #- check-install
          - check-kine
          - check-metrics
          - check-multicontroller
          - check-singlenode
          - check-backup
          - check-k0scloudprovider
          - check-cli
          - check-disabledcomponents
          - check-extraargs
          - check-configchange
          - check-upgrade
          # skipped, originally titled "Smoke-test for network":
          # - check-etcd

    steps:
      - name: Get PR Reference and Set Cache Name
        run: |
          PR_NUMBER=$(echo ${GITHUB_REF} | cut -d / -f 3 )
          echo "cachePrefix=k0s-${PR_NUMBER}-${{ github.sha }}" >> $GITHUB_ENV
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - name: Cache compiled binary for smoke testing
        uses: actions/cache@v2
        id: restore-compiled-binary
        with:
          path: |
            k0s
          key: build-${{env.cachePrefix}}

      - name: Run test .
        run: make -C inttest ${{ matrix.smoke-suite }}

      - name: Collect test logs
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.cachePrefix }}-logs-${{ matrix.smoke-suite }}-${{ github.run_number }}
          path: |
            /tmp/*.log

  smoketest-airgap:
    name: Smoke test for airgap install
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Get PR Reference and Set Cache Name
        run: |
          PR_NUMBER=$(echo ${GITHUB_REF} | cut -d / -f 3 )
          echo "cachePrefix=k0s-${PR_NUMBER}-${{ github.sha }}" >> $GITHUB_ENV
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - name: Cache compiled binary for smoke testing
        uses: actions/cache@v2
        id: restore-compiled-binary
        with:
          path: |
            k0s
          key: build-${{env.cachePrefix}}

          # We need the bindata cache too so the makefile targets and deps work properly
      - name: Bindata cache
        uses: actions/cache@v2
        id: generated-bindata
        with:
          path: |
            .bins.linux.stamp
            embedded-bins/staging/linux/bin/
            bindata_linux
            pkg/assets/zz_generated_offsets_linux.go
            embedded-bins/Makefile.variables

          key: ${{ runner.os }}-embedded-bins-${{ hashFiles('**/embedded-bins/**/*') }}
          restore-keys: |
            ${{ runner.os }}-embedded-bins-${{ hashFiles('**/embedded-bins/**/*') }}

      - name: Cache images bundle
        uses: actions/cache@v2
        id: restore-bundle
        with:
          path: |
            image-bundle/bundle.tar
          key: build-image-bundle-${{env.cachePrefix}}

      - name: Run test
        run: make check-airgap

      - name: Cache images bundle
        uses: actions/cache@v2
        id: save-bundle
        with:
          path: |
            image-bundle/bundle.tar
          key: build-image-bundle-${{env.cachePrefix}}

      - name: Collect test logs
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.cachePrefix }}-logs-check-airgap-${{ github.run_number }}
          path: |
            /tmp/*.log

  smoketest-arm:
    name: Smoke test on arm64
    runs-on: [self-hosted,linux,arm64]

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - uses: actions/cache@v2
        name: Go modules cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Bindata cache
        uses: actions/cache@v2
        id: generated-bindata
        with:
          path: |
            .bins.linux.stamp
            embedded-bins/staging/linux/bin/
            bindata_linux
            pkg/assets/zz_generated_offsets_linux.go
            embedded-bins/Makefile.variables
          key: ${{ runner.os }}-embedded-bins-${{ hashFiles('**/embedded-bins/**/*') }}-arm64
          restore-keys: |
            ${{ runner.os }}-embedded-bins-${{ hashFiles('**/embedded-bins/**/*') }}-arm64
      - name: Build
        run: make build

      - name: Run test .
        run: make -C inttest check-basic

      - name: Collect test logs
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.cachePrefix }}-logs-check-basic-arm-${{ github.run_number }}
          path: |
            /tmp/*.log
  smoketest-armv7:
    name: Smoke test on armv7
    runs-on: [self-hosted,linux,arm]
    steps:
      # We cannot rely on this as it's not working on arm, see https://github.com/actions/setup-go/issues/106
      # Instead we must have proper golang version setup at system level.
      # - name: Set up Go 1.x
      #   uses: actions/setup-go@v2
      #   with:
      #     go-version: ${{ env.GO_VERSION }}
      #   id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Install GoLang for ARMHF
        run: "echo $HOME/.local/go/bin >> $GITHUB_PATH; rm -rf $HOME/.local/go && mkdir -p $HOME/.local/go && curl --silent -L https://golang.org/dl/go$(make -s -f go_version.mk).linux-armv6l.tar.gz | tar -C $HOME/.local -xz"
      - name: Go Version
        run: go version

      - name: Bindata cache
        uses: actions/cache@v2
        id: generated-bindata
        with:
          path: |
            .bins.linux.stamp
            embedded-bins/staging/linux/bin/
            bindata_linux
            pkg/assets/zz_generated_offsets_linux.go
            embedded-bins/Makefile.variables
          key: ${{ runner.os }}-embedded-bins-${{ hashFiles('**/embedded-bins/**/*') }}-armv7
          restore-keys: |
            ${{ runner.os }}-embedded-bins-${{ hashFiles('**/embedded-bins/**/*') }}-armv7
      - name: Build
        run: make build

      - name: Run test .
        run: TIMEOUT=15m make -C inttest check-basic

      - name: Collect test logs
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.cachePrefix }}-logs-check-basic-armv7-${{ github.run_number }}
          path: |
            /tmp/*.log
