name: Go build


env:
  cachePrefix: mke-${{ github.run_number }}-${{ github.sha }}

on:
  push:
    branches: [ fake-branch-to-test-linter ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        name: Go modules cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Bindata
        uses: actions/cache@v2
        id: generated-bindata
        with:
          path: |
            .bins.stamp
            embedded-bins/staging/linux/bin/
            bindata
            pkg/assets/zz_generated_offsets.go

          key: ${{ runner.os }}-embedded-bins-${{ hashFiles('**/embedded-bins/**/*') }}
          restore-keys: |
            ${{ runner.os }}-embedded-bins-${{ hashFiles('**/embedded-bins/**/*') }}

      - name: Run unit tests
        run: make check-unit

      - name: Build
        run: make build

      - name: Cache compiled binary for further testing
        uses: actions/cache@v2
        id: cache-compiled-binary
        with:
          path: |
            mke
          key: build-${{env.cachePrefix}}

  smoketest:
    name: Smoke test
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Cache compiled binary for smoke testing
        uses: actions/cache@v2
        id: restore-compiled-binary
        with:
          path: |
            mke
          key: build-${{env.cachePrefix}}

      - name: Run test .
        run: make -C inttest check-basic

  smoketest-etcd:
    name: Smoke test for etcd operations
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Cache compiled binary for smoke testing
        uses: actions/cache@v2
        id: restore-compiled-binary
        with:
          path: |
            mke
          key: build-${{env.cachePrefix}}

      - name: Run etcd test .
        run: make -C inttest check-etcd

  smoketest-network:
    name: Smoke test for network
    needs: build
    runs-on: ubuntu-latest
    if: false

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Cache compiled binary for smoke testing
        uses: actions/cache@v2
        id: restore-compiled-binary
        with:
          path: |
            mke
          key: build-${{env.cachePrefix}}

      - name: Run smoke test .
        run: make -C inttest check-etcd

  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2

      - name: codegen1
        run: make pkg/assets/zz_generated_offsets.go
        env:
          EMBEDDED_BINS_BUILDMODE: none

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
          only-new-issues: true