name: Go lint

on:
  push:
    branches:
      - main
      - release-*
    paths-ignore:
      - "**.md"
      - .github/**
      - "!.github/workflows/lint.yaml"
      - docs/**
      - LICENSE
      - mkdocs.yml
      - renovate.json
  pull_request:
    branches:
      - main
      - release-*
    paths-ignore:
      - "**.md"
      - .github/**
      - "!.github/workflows/lint.yaml"
      - docs/**
      - LICENSE
      - mkdocs.yml
      - renovate.json

env:
  MAKEFLAGS: -j
  EMBEDDED_BINS_BUILDMODE: none

jobs:
  lint-go:
    strategy:
      fail-fast: false
      matrix:
        target-os: [linux, windows]

    defaults:
      run:
        shell: bash

    env:
      DOCKER: "${{ matrix.target-os != 'windows' && 'docker' || ''}}"
      LOCALAPPDATA: ${{ github.workspace }}\build\cache

    name: Lint Go
    runs-on: ${{ matrix.target-os == 'windows' && 'windows-2025' || 'ubuntu-24.04' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare build environment
        run: .github/workflows/prepare-build-env.sh

      - name: Set up Go
        uses: actions/setup-go@v5
        if: matrix.target-os == 'windows'
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false

      - name: "Cache :: golangci-lint"
        uses: actions/cache@v4
        with:
          key: lint-${{ matrix.target-os }}-amd64-golangci-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            lint-${{ matrix.target-os }}-amd64-golangci-${{ github.ref_name }}-
            lint-${{ matrix.target-os }}-amd64-golangci-main-
          path: |
            build/cache/go/build
            build/cache/golangci-lint

      - name: "Cache :: GOMODCACHE"
        uses: actions/cache/restore@v4
        with:
          key: build-k0s-gomodcache-${{ hashFiles('go.sum') }}
          path: build/cache/go/mod
          enableCrossOsArchive: true

      - name: Run linter
        run: make lint-go $MAKE_EXTRA_ARGS

  lint-codegen:
    name: Lint generated code
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "Cache :: GOCACHE"
        uses: actions/cache/restore@v4
        with:
          key: build-k0s-linux-amd64-gocache-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            build-k0s-linux-amd64-gocache-${{ github.ref_name }}-
            build-k0s-linux-amd64-gocache-main-
          path: |
            build/cache/go/build

      - name: "Cache :: GOMODCACHE"
        uses: actions/cache/restore@v4
        with:
          key: build-k0s-gomodcache-${{ hashFiles('go.sum') }}
          path: build/cache/go/mod
          enableCrossOsArchive: true

      - name: Check go.mod/go.sum to be consistent
        run: make --always-make go.sum && git diff --exit-code

      - name: Check generated code to be consistent
        run: make codegen && git diff --exit-code

      - name: Check copyright headers
        run: make lint-copyright

  validate-os-tests:
    name: Validate OS tests
    runs-on: ubuntu-24.04

    env:
      TOFU_VERSION: 1.10.6 # renovate: datasource=github-releases depName=opentofu/opentofu

    defaults:
      run:
        working-directory: hack/ostests

    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: hack/ostests
          persist-credentials: false

      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: ${{ env.TOFU_VERSION }}
          tofu_wrapper: false

      - run: tofu fmt -check
      - run: tofu init
      - run: tofu validate -no-color
